
html,body {
    margin: 0 auto;
    background-color: #585858;
}
h1, h2, h3, h4, h5, h6 {
        text-align: center;
}


.findASobeysMap{
	background-size: cover;
}

#page_container{
	width:100%;
	height: 100%;
}

.tablesForStore{
    height: 100px !important;
    overflow: auto;
}​

.centered
{
    text-align:center;
}


@media (max-width: 767px){
html,body{
    padding:0px; 
    	background: #585858;

}​
}    