	<!-- Page content -->
	
		<div class="navbar navbar-default navbar-fixed-top">
			
				<div class="navbar-header">
					<div class="navbar-brand" >YawHide</div>
				</div>
			
		</div>
			<header>

			</header>
		<div class="row">
			<div class="col-xs-3">

			</div>
			<div class="col-xs-9">
				{{#storeInfo.regularFlyer}}
				<div class="media list-group-item">
					<a class="pull-left">
						<img height="100" width="100" class="media-object img-item" src="{{url}}" alt="{{item}}"></img>
					</a>
					<div class="media-body">
						<h4 class="media-heading">{{item}}</h4>
						<div><h4>Savings: </h4>{{savings}} 
						</div>
						<div><h4>Percentage Savings: </h4>{{percent}} 
						</div>
						<div><h4>Description: </h4>{{description}}
						</div>
						<div>
						</div>
						<div>
						</div>
						<div>
						</div>
						<div>
						</div>
						<div>
						</div>
						
						
						
					</div>
				</div>
				{{/storeInfo.regularFlyer}}
									
							
						
				
		</div>
		
		
			
	



